.Header{
    display: flex;
    justify-content: center;
    background-color: rgb(23, 165, 137);
    width: 100%;
}

.Header h1{
    color: black;
    text-decoration:underline
}

.Header h2{
    border-radius: 10px;
    background-color:  rgb(218, 247, 166) ;
    color: black;
    margin: 10px;
}